@charset "utf-8";

.styles {
  background-color: orange;
  text-align: center;
  height: 100%;
  width: 100%;
}

.time {
  display: flex;
  margin: auto;
  width: 60%;
  justify-content: space-around;
}